.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 15px 40px;
  gap: 50px;
}
.logo {
  width: 160px;
  flex-shrink: 0;
}

ul {
  display: flex;
  list-style: none;
  margin-right: auto;
  padding-left: 20px;
}
ul li {
  display: inline-block;
  margin: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
.toggle-icon {
  width: 40px;
  cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;
  background: #242424;
  border-radius: 40px;
  padding: 5px 10px;
}
.search-box input {
  border: none;
  padding: 6px;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 16px;
  width: 200px;
}

.search-box input::placeholder {
  color: #fff;
}
.search-box img {
  width: 20px;
  cursor: pointer;
  margin-right: 10px;
}
